---
import type { CollectionEntry } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Card from "./Card.astro";
import IconArrow from "./IconArrow.astro";

type Props = {
  project: CollectionEntry<"projects">;
  delayMs: number;
};

const sizeClasses: Record<Props["project"]["data"]["size"], string> = {
  small: "aspect-square col-span-2 md:col-span-1",
  medium: "aspect-square md:aspect-[2/1] col-span-2",
  large: "aspect-square md:aspect-[3/1] md:col-span-3",
};

const cardSizeAspectRatio = {
  small: "1:1",
  medium: "2:1",
  large: "3:1",
} as const satisfies Record<Props["project"]["data"]["size"], string>;

const { project, delayMs } = Astro.props;
---

<Card
  as="a"
  rel="preload"
  href={`/projects/${project.slug}`}
  class={`opacity-0 animate-slide-in flex flex-col gap-1 p-1 bg-white group ${
    sizeClasses[project.data.size]
  }`}
  style={{
    animationDelay: `${delayMs}ms`,
  }}
>
  <header class="flex items-center">
    <h3 class="grow truncate text-caption px-3 text-gray-10">
      {project.data.project} for <span class="text-gray-12"
        >{project.data.client}</span
      >
    </h3>
    <div
      class="bg-gray-12 text-gray-1 rounded-xl aspect-square w-6 flex items-center justify-center ease-out-expo transition-colors duration-600"
    >
      <IconArrow />
    </div>
  </header>
  <div
    class="relative grow w-full overflow-hidden rounded-xl bg-gray-3 group-hover:bg-[var(--project-color)] transition-colors duration-600 ease-out-expo"
    style={{ "--project-color": project.data.color ?? "white" }}
  >
    <Picture
      widths={[640, 1024, 1920]}
      src={project.data.cover}
      aspectRatio={cardSizeAspectRatio[project.data.size]}
      alt={project.data.coverAlt}
      format="png"
      formats={["webp", "png"]}
      class="absolute inset-0 w-full h-full object-cover object-center group-hover:scale-105 group-active:scale-100 ease-out-expo transition-transform duration-600"
    />
  </div>
</Card>
