---
import Container from "~/components/Container.astro";
import Layout from "./Layout.astro";
import Card from "~/components/Card.astro";
import type { CollectionEntry } from "astro:content";
import Navbar from "~/components/Navbar.astro";
import { Picture } from "@astrojs/image/components";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
---

<Layout
  ogImageSrc={`/projects/${project.slug}/og-image.png`}
  title={`${project.data.project} for ${project.data.client}`}
>
  <Container class="perspective flex flex-col gap-1">
    <Navbar />
    <Card
      class="grid md:grid-cols-2 overflow-hidden opacity-0 animate-slide-in"
    >
      <header class="p-8 flex flex-col justify-center">
        <h1 class="text-heading">
          {project.data.client}
        </h1>
        <span class="text-body block">{project.data.project}</span>
      </header>

      <Picture
        src={project.data.cover}
        aspectRatio="1:1"
        widths={[640, 1024, 1920, 3840]}
        alt={project.data.coverAlt}
        loading="lazy"
        class="w-full h-full aspect-square object-cover object-center"
        format="webp"
      />
    </Card>
  </Container>
  <main
    class="flex flex-col gap-1 pt-1 prose prose-shal md:prose-lg prose-h1:text-[red] prose-strong:font-medium prose-headings:font-medium max-w-none opacity-0 animate-slide-in"
  >
    <slot />
  </main>
</Layout>
