---
import Container from "~/components/Container.astro";
import Layout from "./Layout.astro";
import Card from "~/components/Card.astro";
import type { CollectionEntry } from "astro:content";
import Navbar from "~/components/Navbar.astro";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
---

<Layout title={`${project.data.project} for ${project.data.client}`}>
  <Container class="perspective flex flex-col gap-1">
    <Navbar />
    <Card
      class="min-h-[80vh] grid md:grid-cols-2 overflow-hidden opacity-0 animate-slide-in"
    >
      <header class="p-8 flex flex-col justify-center">
        <h1 class="text-heading">
          {project.data.client}
        </h1>
        <span class="text-body block">{project.data.project}</span>
      </header>

      <img
        class="w-full h-full object-cover object-center group-hover:scale-105 group-active:scale-100 ease-out-expo transition-transform duration-600"
        src={project.data.image}
      />
    </Card>
  </Container>
  <main class="flex flex-col gap-1 pt-1">
    <slot />
  </main>
</Layout>
